body {
    background: white;
    font-family: Helvetica, sans-serif;
    color: rgb(81, 75, 75);
    margin-top: 100px;
}

img {
    width: 100%;
}

h1 {
    margin: 15px 0;
}

h2{
    margin: 0;
    font-weight: 100;
}

.card {
    background-color: #746e6e;
    border-radius: 20px;
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}